#banner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 108px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#banner>div {
  display: flex;
  align-items: center;
}

#banner img {
  width: 100%;
}



#banner button {
  margin-left: 83px;
  margin-top: 23px;
}


#banner h2 {
  color: var(--unnamed-color-162e5a);
  text-align: left;
  font-size: 32px;
  line-height: 48px;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 83px;
}

#banner p {
  color: var(--unnamed-color-0064a8);
  text-align: left;
  font: normal normal normal 14px/36px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 83px;
  margin-top: 25px;
  margin-right: 62px;
}



@media only screen and (max-width : 769px) {
  #banner {
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }


  #banner p, #banner h2, #banner button{
    margin-left: 14px;
    margin-right: 53px;
  }

}