


  
  
  #modal {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
  }
  
  #modal__content {
    width: 93%;
    height: 93%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #707070;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  
#modal h2 {
  color: var(--unnamed-color-162e5a);
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 14px;
}

#modal p {
  color: var(--unnamed-color-0064a8);
  text-align: center;
  font: normal normal normal 14px/36px 'Open Sans';
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 25px;
  max-width: 453px;
}
  

  .modal__label--close {
    color: var(--unnamed-color-162e5a);
    padding: 0;
    background-color: #ffffff;
    width: 195px;
  }

  .modal__label--close:hover{
    
    background-color: var(--unnamed-color-162e5a);
    color: #ffffff;
  }



  @media only screen and (max-width : 769px) {

    #modal__content {
      width: calc(100% - 1px);
      height: 97%;
    }
 
    #modal p {
      margin-left: 29px;
      margin-right: 29px;
    }
  }
  
  