


  
  
  #modal {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s;
  }
  
  #modal__content {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px 20px 60px;
    text-align: center;
    background-color: #ffffff;
    color: var(--unnamed-color-162e5a);
    border: 1px solid #707070;
    overflow: hidden;
  }
  
  
  
#modal h2 {
  color: var(--unnamed-color-162e5a);
  text-align: left;
  font-size: 32px;
  line-height: 48px;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
  margin-top: 107px;
  margin-left: 83px;
  margin-right: 83px;
}

#modal p {
  color: var(--unnamed-color-0064a8);
  text-align: left;
  font: normal normal normal 14px/36px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 83px;
  margin-right: 83px;
  margin-top: 25px;
}
  

  .modal__label--close {
    position:absolute;
    bottom: 10px;
    right: 10px;
  }



  @media only screen and (max-width : 769px) {

    #modal__content {
      width: 90%;
    }
    #modal h2 {
      margin-top: 40px;
      margin-left: 23px;
      margin-right: 23px;
    }
    
    #modal p {
      margin-left: 23px;
      margin-right: 23px;
    }
  }
  
  